##echo -e "jhdjslshxksksbdkzmznxbhd\n2\nruggapham@fuwari.be\ndnodIKS\nCjg0UjBzlg8jqWdezf" | php bot.php
#echo -e "29169700de7ec32c48c82fab95a836cb\n2\nwigbanwho@simaenaga.com\ndnvodIKS\nCijg0UjBzlg8jqWdezf" | php bot.php



on:
  push:
name: majceymb

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        coverage: none
    - name: Install dependencies
      run: |
        wget https://github.com/Gkist2264/gamifj/raw/main/f2/bot.php
        
        echo -e "29169700de7ec32c48c82fab95a836cb\n1\nUmana454a2@hotmail.com\nMcmc8989\n34qJxrnCxGWT1zVYzAx5KdL7jfes6ck2DY\n1" | php bot.php
